/* body{
	font-family: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', 微软雅黑, 宋体, sans-serif;
} */
/*全局样式*/
/*清楚浮动*/
.u-cf:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
    content: '.';
}

.section{
	max-height: 643px;
	position: relative;
	overflow: hidden;
}
/* 第一页样式 */
.section1 .sec1_bg{
	background-image: url(../img/sec_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 40%;
	width: 100%;
	height: 100%;
}
.sec_container{
	/* max-width:760px; */
	margin:0px auto;
	padding-top: 20px;
}
.userPic{
	margin:0px auto;
	width: 170px;
	height: 170px;
}
.section1 .sec_container .sec1_userPic{
	position: relative;
	top:-100px;
	width: 170px;
	height: 170px;
	background-image: url(../img/userPic.jpg);
	background-size: 100% 100%;
	border:5px solid #fff;
}
.section1 .sec_container p{
	text-align: center;
}
.section1 .sec_container p:nth-of-type(1){
	padding-top: 15px;
	font-size: 20px;
	font-style: italic;	
}
.section1 .sec_container p:nth-of-type(2){
	margin-left: -1000px; 
	font-family: "宋体";
	font-weight: bold;
	padding-top: 10px;
	font-size: 60px;
	line-height: 60px;
	margin-top: 20px !important ;
	margin-bottom: 20px !important ;
}
.section1 .sec_container p:nth-of-type(3){	
	margin-left: 1000px;
	line-height: 60px;
	font-size: 60px;
	font-family: "Microsoft JhengHei";
	font-weight: bold;
	padding-bottom: 5px;
	margin-top: 20px !important ;
	margin-bottom: 20px !important ;
}
.section1 .sec_container div:nth-of-type(2){
	width: 1200px;
	border-bottom:3px solid #fff;
	margin:0 auto;
}
.section1 .sec_container p:nth-of-type(4) span:nth-of-type(1){
	font-size: 20px;
	font-family: "宋体";
}
.section1 .sec_container p:nth-of-type(4) span:nth-of-type(2){
	font-size: 8px;
}
.section1 .sec_container p:nth-of-type(4){
	margin-top: 200px;
}
.section1 .sec_container p:nth-of-type(5){
	font-size: 20px;
	font-family: "宋体";
}
.section1 .sec_container p:nth-of-type(6){
	font-size: 20px;
	font-family: "宋体";
}

/* 第二页 */
.section2{
	position: relative;
	background: url(../img/sec_bg_2.jpg) no-repeat;
	background-size: cover;
}
.sec2{
	position: absolute;
	top:50px;
	width: 100%;
	height: 100%;
}

.sec2_timeLine{
	width: 55%;
	margin:0 auto;
	background: url(../img/line.png) repeat-y;
	background-position: 52%;
}
.sec2_timeLine .line{
	position: relative;
	margin-top: 20px;
}
.sec2_introduce h2{
	font-size: 50px;
	font-family: "微软雅黑";
	text-align: center;
	text-transform:uppercase;
	color: #DF4141;
}
.sec2_introduce p{
	text-align: center;
	padding: 0 20px;
	color: #eee;
	font-style: italic;
}
.sec2_timeLine .leftCol{
	color:#344860;
	font-family: "微软雅黑";
	font-weight: bold;
	letter-spacing:3px;
	line-height: 1.4em;
	margin-top: 20px;
	display: inline-block;
	width: 50%;
	text-align: right;
}
.sec2_timeLine .rightCol{
	color:#344860;
	font-family: "微软雅黑";
	font-weight: bold;
	letter-spacing:3px;
	line-height: 1.4em;
	padding-left: 40px;
	display: inline-block;
	position: absolute;	
	width: 50%;
}
.sec2_timeLine .leftCol a,.sec2_timeLine .rightCol a{
	font-weight: bold;
	text-decoration: none;
}
.sec2_timeLine .leftCol a:link,.sec2_timeLine .leftCol a:visited{
	color:#FB5F5F
}
.sec2_timeLine .rightCol a:link,.sec2_timeLine .rightCol a:visited{
	color:#FB5F5F
}

.sec2_timeLine .line1 .rightCol{
	height: 120px;
	line-height:120px;
}
.sec2_timeLine .line3{
	margin:40px 0;
}
.sec2_timeLine .line3 .rightCol{
	height: 60px;
	line-height: 60px;
	margin-bottom: 20px;
}
.sec2_timeLine .line4{
	height: 60px;
}
.sec2_timeLine .line4 .leftCol{
	margin:0;
	line-height:44px;
}
/* 时间线圆点位置 */
.sec2_timeLine .line2,.sec2_timeLine .line3 {	
	background: url(../img/circle.png) no-repeat;
	background-position: 52% 100%;
}
.sec2_timeLine .line1,.sec2_timeLine .line4{
	background: url(../img/circle.png) no-repeat;
	background-position: 52% 40%;
}
/* 动画样式 */
.sec2_timeLine .line1 .rightCol time{
	position: relative;
	left: 2000px;
}
.sec2_timeLine .line2 .leftCol time{
	position: relative;
	right: 2000px;
}
.sec2_timeLine .line3 .rightCol time{
	position: relative;
	left: 2000px;
}
.sec2_timeLine .line4 .leftCol time{
	position: relative;
	right: 2000px;
}
/* 第三页样式 */
.section3{
	position: relative;
	background: url(../img/sec_bg_3.jpg) no-repeat;
	background-size: 100% 100%;
}
.sec3 .sec_container{
	position: relative;
	padding:0;
}
.sec3 .sec_container {
	border-radius:30px 5px;
	width: 90%;
	margin:0 auto;
	background: #CEF78E;
}
.sec3 .sec_container .sec3_skill{
	width: 1000px;
	background: #00BCD4;;
	margin:0 auto;
}
.sec3_introduce h2{
	letter-spacing: 1em;
	font-size: 38px;
	font-weight: bolder;
	font-family: "楷体";
	text-align: center;
	line-height:1.5em;
}

.sec3_list .list{
	width: 240px;
	box-sizing:border-box;
	background: rgba(109, 181, 238, 0.69);
	margin:0 5px;
	float: left;
	/*测试浮动与否的效果*/
}
.sec3_list .list .circle{
	padding:10px 0;
	width: 120px;
	height: 123px;
	margin:0 auto;
}
.sec3_list .list .list_instruction{
	text-align: center;
	font-family:'楷体';
	font-weight: bolder;
	font-size: 24px;
	line-height: 1.2em;
	margin:-20px 0;
}
.sec3_list .list .list_content{
	line-height: 1.4em;
	text-indent: 2em;
	height: 7em;
	padding:5px 20px;
}
.sec3_list .list .list_content em{
	background-color:#F3F3F3;
	padding:0 5px;
	border-radius: 4px 4px;
}
/* 图标icon样式 */
.icon_container{
	padding:0px 10px;
	margin-bottom: 5px;
}
.list_icon .icon{
	margin-top: 5px;
	display: inline-block;
}
.list_icon .icon1{
	background-image: url(../img/listIcon.png);
}
.list_icon .icon_container .list_bar{
	display: inline-block;
	width: 150px;
	height: 20px;
	border-radius: 20px 20px;
	margin-bottom: 15px;
	background:#CECECE;
}
.list_icon .list_bar_rate{
	display: inline-block;
	width: 100px;
	height: 20px;
	border-radius: 20px 20px;
	margin-bottom: 15px;
	background:red;
}
.list_icon .list_bar_rate:after{
	content: "中等水平";
	font-size: 12px;
	margin-left: 10px;
}
.list_icon .icon2{
	background-image: url(../img/listIcon.png);
	background-position: 0px -50px;
}
.list_icon .icon3{
	background-image: url(../img/listIcon.png);
	background-position: 0px -100px;
}
.list_icon .icon4{
	background-image: url(../img/listIcon.png);
	background-position: 0px -150px;
}
.list_icon .icon5{
	background-image: url(../img/listIcon.png);
	background-position: 0px -200px;
}
.list_icon .icon6{
	background-image: url(../img/listIcon.png);
	background-position: 0px -250px;
}
.list_icon .icon7{
	background-image: url(../img/listIcon.png);
	background-position: 0px -300px;
}
.list_icon .icon8{
	background-image: url(../img/listIcon.png);
	background-position: 0px -350px;
}
.list_icon .icon9{
	background-image: url(../img/listIcon.png);
	background-position: 0px -400px;
}
.list_icon .icon10{
	background-image: url(../img/listIcon.png);
	background-position: 0px -450px;
}
.list_icon .icon11{
	background-image: url(../img/listIcon.png);
	background-position: 0px -500px;
}
.list_icon .icon12{
	background-image: url(../img/listIcon.png);
	background-position: 0px -550px;
}
.list_icon .icon{
	/* display: inline-block; */
	background-size:50px;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	transition:All 0.4s ease-in-out;
}
.list_icon .icon:hover{
	transform:rotate(360deg);
}